[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jwt = "*"
grpcio-tools = "*"
pyyaml = "*"
sqlalchemy = "*"
alembic = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
flask-dance = "*"
flask-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
